body {
    background-color: #F3F3E0;
}

header {
    background-color: #DDA853;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    font-family: "Radley", serif;
}

h1 {
    align-self: center;
    font-size: 30px;
}

em {
    font-style: italic;
}

div {
    display: flex;
    align-items: center;
}

img {
    width: 100px;

}

a {
    color: #183B4E;

}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}